/*
  Ben's css
*/

/*@import "app.css";*/

/* large tables were cut off at right, such as on edit layer page, blocking the edit and delete button for rows. 
Needed this to force correct behaviour of scrolling when page is too big. */
html {
    max-width: 100%;
    overflow: auto;
}

/* Inputs in the edit dataitem section on EDIT MODE */
.editingtd, select.inputastd.editingtd, .input-group .inputastd.editingtd {
    border: 1px solid #8c9faf;
}

/* Inputs in the edit dataitem section on EDIT MODE when FOCUSED*/
.editingtd:focus, select.inputastd.editingtd:focus, .input-group .inputastd.editingtd:focus {
    border: 1px solid #3490dc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/* DATES in the edit dataitem section on VIEW MODE */
.input-group .inputastd {
    border: none;
    min-width: 8em;
    text-align: left;
}

/* DATES in the edit dataitem section on EDIT MODE */
.input-group .inputastd.editingtd {
    min-width: 8em;
}

/* Force border colors */
.forceinvalidborder {
    border-color: #e3342f !important;
}

.forcevalidborder {
    border-color: #38c172 !important;
}

.forceinvalidborder:focus {
    border-color: #e3342f !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #e3342f !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #e3342f !important;
}

.forcevalidborder:focus {
    border-color: #38c172 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #38c172 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #38c172 !important;
}

/* Force text colors */
.forceinvalid {
    color: #e3342f !important;
}

.forcevalid {
    color: #38c172 !important;
}

/* Imitate a clickable link */
.external_url_clickable {
    color: #0077cc;
    text-decoration: none;
}

.external_url_clickable:hover {
    cursor: pointer;
    color: #00508a;
    text-decoration: underline;
}

.no-margin {
    margin: 0;
}

.download-label {
    display: block;
    max-width: none;
    margin-bottom: 5px;
    font-weight: 400;
}

#indexdiv {
    /*
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
    */
}

/* SEARCH BOX ON MAIN PAGE */
.flexdiv {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#mainsearchdiv {
    /*
    width: 100%;
    height: 4rem;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    */

}

#input {
    /*
    height: 100%;
    border: 1px solid #ced4da;
    border-radius: 1rem 0 0 1rem;
    width: 50%;
    min-width:250px;
    padding: 0.5rem 1rem;
    margin: 0;
    top: 0;
    */
}

#input-select-box {
    border: 1px solid #ced4da;
    border-radius: 0;
    height: 100%;
    min-height: 100%;
    min-width: 100px;
    width: 10%;
    margin: 0;
    top: 0;
    padding: 6px;
}

/* this is just for the "Search:" box added by Datatables, for narrowing down results above a list of results */

.dataTables_filter input[type="search"] {
    border: 1px solid #555;
    height: 26px;
}

#gazformbutton {
    /*
    border-radius: 0 1rem 1rem 0;
    border: 1px solid #ced4da;
    min-height: 100%;
    height: 100%;
    width: 10%;
    min-width:90px;
    margin: 0;
    top: 0;
    */
}

.sub-filter-div {
    border: 1px solid #ced4da;
    border-bottom: none;
    background-color: #f1f1f1;
}

/* .sub-filter-div:first-of-type {
  border-right: none;
} */

.filter-div {
    /*border: 1px solid #ced4da;*/
    display: flex;
    flex-direction: column;
}

.filter-div:first-of-type {
    border-right: none;
}

.filter-div:last-of-type {
    border-left: none;
    padding: 0;
}

#dataitemtable_filter label input[type=search] {
    border: 1px solid #ced4da;
}

/*
    From TLCMAP site
*/

/* Navbar/header white text with no link decorations */
h1 a, h1 a:hover, .header a, .nav-link-but {
    text-decoration: none !important;
    color: white;
}

table#resultsTable th a {
    color: #ffffff;
}

/* For the TLCMap footer bar */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* The tlcmap footer content */
footer p {
    margin: 1.2rem;
}

/* Slight margins from sides of the page for readability */
.tlcmapcontainer {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 7.4rem;
}

/* Header font */
div.header h1 {
    font-family: 'Orbitron', Arial Black, Helvetica, sans-serif;
    font-size: 22px;
    color: white;
}

div.maininto h2 {
    font-family: 'Orbitron', Arial Black, Helvetica, sans-serif;
    color: white;
}

/* Custom fontsize for tables */
table {
    font-size: 12px;
}

.minHeightTable {
    min-height: 14em;
}

/* The search field */
#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {
    outline: 3px solid #ddd;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.hideme {
    display: none;
}

.smalldiv {
    width: 200px;
    max-width: 200px;
}

.meddiv {
    width: 350px;
    max-width: 350px;
}

.floatleft {
    float: left;
}

.inputastd {
    /* border: none; */
    font-size: 12px;
    padding: 0px;
    padding-left: 2px;
    vertical-align: top;
    box-sizing: border-box;
}

select.inputastd {
    border: none;
}

/* Hide arrow for dataitem state selector on VIEW mode but not EDIT mode */
select[disabled].inputastd {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    background-color: inherit;
}

/* leafletjs map settings */
#ausmap {
    height: 100%;
    width: 100%;
    min-height: 600px;
    z-index: 50;
}

/* Unsure after here*/
.search-container {
    width: 80%;
}

.nowrap {
    white-space: nowrap;
}

.rTable {
    min-width: 400px;
    display: table;
}

.rTableRow {
    display: table-row;
}

.rTableHeading {
    display: table-header-group;
}

.rTableBody {
    display: table-row-group;
}

.rTableFoot {
    display: table-footer-group;
}

.rTableCell, .rTableHead {
    padding-bottom: 12px;
    display: table-cell;
}

.smallerinputs {
    width: 15rem;
}

.input-group.md-form.form-sm.form-1 input {
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.input-group.md-form.form-sm.form-2 input.red-border {
    border: 1px solid #ef9a9a;
}

.input-group.md-form.form-sm.form-2 input.lime-border {
    border: 1px solid #cddc39;
}

.input-group.md-form.form-sm.form-2 input.amber-border {
    border: 1px solid #ffca28;
}

/***************************/
/* w3 schools autocomplete */
/***************************/

* {
    box-sizing: border-box;
}

body {
    font: 16px Arial;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

/* input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
} */
input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

/* Disclaimer */
.disclaimer-div {
    border-style: outset;
    background-color: rgb(251, 251, 204);
    margin-bottom: 1rem;
}

.disclaimer-div h4 {
    font-weight: bold;
    margin: 0.3rem;
    margin-bottom: 0;
}

.disclaimer-div p, .disclaimer-div li {
    font-size: 0.8em;
    margin-bottom: 0.2rem;
    margin-left: 1rem;
}

.disclaimer-div p:last-child {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

/* Settings tab system */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* bootstrap extender */
.form-horizontal .control-label .text-left {
    text-align: left;
}

/******************/
/* No Longer Used */
/******************/

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

input[type=search] {
    background-color: white;
}

input[type=text] {
    background-color: inherit;
    width: 100%; /* Don't let inputs go off screen */
    outline: none;
}

/* Custom notifications */

.notification_message {
    position: absolute;
    top: 32%;
    color: black;
}

.notification {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 0;
    box-sizing: border-box;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, .6);
    overflow: hidden;
    box-sizing: border-box;
    transition: height 1s;
}

.notification-success {
    position: absolute;
    bottom: 8.4rem;
    width: 95%;
    height: 5%;
    box-sizing: border-box;
    color: white;
    text-align: center;
    background: rgba(104, 255, 117, 0.6);
    overflow: hidden;
    box-sizing: border-box;
    transition: height 1s;
}

.notification-warning {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 5%;
    box-sizing: border-box;
    color: white;
    text-align: center;
    background: rgba(245, 255, 109, 0.6);
    overflow: hidden;
    box-sizing: border-box;
    transition: height 1s;
}

.notification-failure {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 5%;
    box-sizing: border-box;
    color: white;
    text-align: center;
    background: rgba(255, 84, 84, 0.6);
    overflow: hidden;
    box-sizing: border-box;
    transition: height 1s;
}

.notification-dark {
    position: absolute;
    bottom: 7.4rem;
    width: 95%;
    height: 5%;
    box-sizing: border-box;
    color: white;
    text-align: center;
    background: rgba(90, 90, 90, 0.6);
    overflow: hidden;
    box-sizing: border-box;
    transition: height 1s;
}

.tooltip-inner {
    max-width: 1200px;
    text-align: left;
}

/*
    Overriding w3.css to make dropdown content go on top of input forms 
*/
.w3-dropdown-content {
    z-index: 3;
}

.small-footer-text {
    font-size: 12px;
}

.green-background {
    background-color: #00FF00;
    transition: 0.5s;
}

.grey-background {
    background-color: #f0f0f0;
    transition: 0.5s;
}

.grab-hover {
    cursor: pointer;
}

/*
 *  * style the info shown when someone clicks a question mark
 *   */

span.bi-question-circle a {
    text-decoration: underline;
}

.bi.bi-question-circle {
  display: inline-block;     /* ensures vertical-align applies consistently */
  vertical-align: super;     /* bumps it up like <sup> */
  cursor: help;              /* nice affordance for tooltips */
}

.tlcmyellow {
    background-color: #FFD580;
}

.tlcmorange {
    background-color: #F29469;
}

.tlcmgreen {
    background-color: #17331C;
}

/* search results containers */
div#searchresults {
    max-width: 100%;
}

.place-list .row {
    padding-top: 5px;
    padding-bottom: 5px;
}

.place-list .row:nth-child(odd) {
    background-color: #f5f5f5;
}

.place-list .col {
    overflow-wrap: anywhere;
}

/* GHAP site styles */
.site-warning {
    width: 100%;
    background-color: #fdffb5;
    color: #595959;
    font-size: 0.8em;
    padding: 0.5em 1em;
}

div.header {
    background-color: #f4f6f4;
    height: 160px;
}

div#mainnav {
    font-family: 'Open Sans', Arial Black, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 18pt;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 100%;
}

.main-site-logo svg {
    width: 128px;
    height: 128px;
}

.main-nav-content {
    flex: 1;
    margin-left: 4em;
    margin-right: 4em;
}

.site-name {
    text-align: center;
    color: #17331C;
    margin-bottom: 0.3em;
    font-size: 1.2em;
}

.site-sub-name {
    text-align: center;
    color: #17331C;
    margin-bottom: 0;
    font-size: 0.8em;
}

@media (max-width: 1100px) {
    .site-name {
        font-size: 1.1em !important;
    }

    .site-sub-name{
        font-size: 0.8em !important;
    }
}

@media (max-width: 768px) {

    div#mainnav {
        flex-direction: column;
    } 

    .main-site-logo svg,
    .secondary-site-logo svg {
        width: 90px; 
        height: 90px;
    }

    .main-nav-content {
        text-align: center;
        margin: 0;
    }

    .site-name {
        font-size: 0.8em !important; 
    }
}

/* spacing between nav and page heading etc */
.tlcmapcontainer {
    margin-top: 16px;
}
.tlcmapcontainer .container {
    width: 100%;
}

#helpVideoModal .modal-dialog {
    padding-top: 5%;
}

#helpVideoModal .btn-close {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    width: 3%;  
    height: 5%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

#helpVideoModal .btn-close i.fa {
    color: white;
    font-size: 24px;  
}

.scrollable.modal-body {
    height: 70vh;
    overflow-y: scroll;
}

.extended-data-editor table tr:first-child {
    font-weight: normal;
}

.extended-data-editor table th:first-child {
    width: 40%;
}
.extended-data-editor table th:nth-child(2) {
    width: 40%;
}

@media (max-width: 600px) {

}

.menu-nav-close .icon {
    width: 15px;
    height: 15px;
}

select:disabled {
    background-color: #e9ecef !important; 
    color: #6c757d !important; 
    cursor: not-allowed;
    border-color: #ced4da !important; 
}

#loadingWheel {
    position: fixed;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 9999;
    display: none;
}

.loadingWheel {
    position: fixed;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 9999;
    display: none;
}   

.spinner {
    display: inline-block;
    border: 16px solid lightgray;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 90px;
    height: 90px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-text {
    color: #3498db;
    font-size: 22px;
    font-weight: bolder;
}

.progress-container {
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    margin-top: 20px;
    border-radius: 5px;
}

.progress-bar {
    height: 100%;
    background-color: #3498db;
    width: 0%;
    border-radius: 5px;
    transition: width 0.5s ease-in-out;
}

.image-thumb-card.border-primary {
    border: 2px solid #007bff !important;
}

.card-img-top{
    max-width: 240px;
    max-height: 240px;
}

.featured-tile {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 14px;
  border: 1px solid #e3e6ea;
  border-radius: 10px;
  background: #fff;
  padding: 12px;
  box-shadow: 0 1px 2px rgba(0,0,0,.04);
  transition: transform .12s ease, box-shadow .12s ease, border-color .12s ease;
}

.featured-tile:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(0,0,0,.08);
  border-color: #d5dae0;
}

.featured-tile .thumb {
    width: 96px;
    height: 96px;
    border: 2px solid #5f6368;
    background: #f2f3f5;
    display: flex;
}

.featured-tile .thumb img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.thumb-placeholder {
  width: 100%;
  height: 100%;
}

.featured-tile .label {
  font-weight: 600;
  line-height: 1.25;
  color: #202124;
  text-align: left;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: anywhere; 
  flex: 1;
}

.featuredLayerbutton.active {
  border-color: #007bff;
}