<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collection Demo</title>
</head>
<body>
<ul>
    <li><a target="_blank" href="http://tlcmap.laragon.local/view/collection-3d.html?load=http://tlcmap.laragon.local/ghap/publiccollections/1/json">3D Viewer</a></li>
    <li><a target="_blank" href="http://tlcmap.laragon.local/view/collection-cluster.html?load=http://tlcmap.laragon.local/ghap/publiccollections/1/json">Cluster</a></li>
    <li><a target="_blank" href="http://tlcmap.laragon.local/view/collection-journey.html?line=route&load=http://tlcmap.laragon.local/ghap/publiccollections/1/json">Journey Route</a></li>
    <li><a target="_blank" href="http://tlcmap.laragon.local/view/collection-journey.html?line=time&load=http://tlcmap.laragon.local/ghap/publiccollections/1/json">Journey Times</a></li>
    <li><a target="_blank" href="http://tlcmap.laragon.local/view/collection-timeline.html?load=http://tlcmap.laragon.local/ghap/publiccollections/1/json">Timeline</a></li>
    <li><a target="_blank" href="http://tlcmap.laragon.local/view/collection-werekata.html?load=http://tlcmap.laragon.local/ghap/publiccollections/1/json">Werekata Route</a></li>
    <li><a target="_blank" href="http://tlcmap.laragon.local/view/collection-werekata.html?sort=start&load=http://tlcmap.laragon.local/ghap/publiccollections/1/json">Werekata Time</a></li>
</ul>
</body>
</html>