<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>Colonial Frontier Massacres, Australia, 1780 to 1930, v3</title>

    <style>
      html,
      body,
      #viewDiv {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
      }
/*
      #timeSlider {
        width: 400px; 
      }
*/
      #infoDiv {
        height: 353px;
        padding: 10px;
        width: 280px;
      }

      #infoDiv span {
        color: #F9C653;
        font-size: 12pt;
        font-weight: bolder;
      }
	  
	        #timeSlider {
        position: absolute;
        left: 5%;
        right: 5%;
        bottom: 20px;
      }
	  
    </style>
	
	<script>
	var asdf = new Date(1892,04,12);
	//alert("date " + asdf.getTime());
	</script>

    <link rel="stylesheet" href="https://js.arcgis.com/4.18/esri/themes/light/main.css" />
    <script src="https://js.arcgis.com/4.18/"></script>
    <script>
      require([
        "esri/Map",
        "esri/views/MapView",
        "esri/layers/GeoJSONLayer",
        "esri/widgets/TimeSlider",
        "esri/widgets/Expand",
        "esri/widgets/Legend"
      ], function(Map, MapView, GeoJSONLayer, TimeSlider, Expand, Legend) {
        let layerView;




      var urltoload = "http://localhost:8090/ghap/publicdatasets/117/json";

      // intercept the geojson data after it is fetched so that we can parse
// the ISO-8601 string values to epoch timestamp before the GeoJSONLayer is created.

var template = {
         title: "asdf",
		 content: getInfo,
		 outFields: ["*"]
        };

        var renderer = {
          type: "simple",
          field: "mag",
          symbol: {
            type: "simple-marker",
            color: "orange",
            outline: {
              color: "white"
            }
          }
        };







// The function used for the PopupTemplate
function getInfo(feature) {
  try {
  var graphic, attributes, content;
  graphic = feature.graphic;
  attributes = graphic.attributes;



  title = attributes["name"];//(attributes["name"])? attributes["name"] : "TLCMap Place";
	content = "<table id='tlcmproperties'>";
	

    if (attributes["description"]) {
	    content = content + "<tr><td>Description</td><td>" + attributes["description"] + "</td></tr>";
    }
	
  var specialatts = ["OBJECTID","id","title","name","description","layer","TLCMapLinkBack","TLCMapDataset"]; // for ignoring in loop that displays all the data incl. extended data
  var specialdisplay = {
    "placename":"Place Name",
    "StartDate":"Date Start",
    "EndDate":"Date End",
    "datestart":"Date Start",
    "dateend":"Date End",
    "latitude":"Latitude",
    "longitude":"Longitude",
    "state":"State",
    "lga":"LGA",
    "feature_term":"Feature Term",
    "original_data_source":"Source",
    "linkback":"Link Back",
    "type":"Type"

  }; // match keys to more human friendly display labels
  

  //console.log(attributes);

  // Add all the cannonical attributes with nice labels, if they exist
  for (display in specialdisplay) {
    if (!attributes[display] && attributes[display] !== 0) { continue;}
      disval = attributes[display];
      if (disval.startsWith("http")) { 
        disval = "<a href='" + disval + "'>" + disval + "</a>";
      }
      content = content + "<tr><td>" + specialdisplay[display] + "</td><td>" + disval + "</td></tr>";
    
  }
  

  for (const key in attributes) {

    // skip display of special core atts
      if (specialdisplay[key]) {
        continue;}
    


    if (!attributes[key] && attributes[key] !== 0) {continue;} // ignore null or empty, but allow value of 0.


 
  // skip things that are to be ignored
	if (specialatts.includes(key)) {continue;} // don't display things to ignore or handled sepera

	var val = attributes[key].toString();

	if (val.startsWith("http")) { 
		val = "<a href='" + val + "'>" + val + "</a>";
	}

  

	content = content + "<tr><td>" + key + "</td><td>" + val + "</td></tr>";
 
  }

   


  content = content + "</table>";

  content = content + "<p><a href='" + attributes["TLCMapLinkBack"] + "'>TLCMap Record: " + attributes["id"] + "</a> | ";
  content = content + "<a href='" + attributes["TLCMapDataset"] + "'>TLCMap Layer</a></p>";


  return content;
  } catch (err) {
    return console.log("Error: " + key + " could getinfo " + err + " " + content);
  }
}









        const layer = new GeoJSONLayer({
          url: urltoload,
          copyright: "Colonial Frontier Massacres Team",
          title: "Colonial Frontier Massacres in Australia",
          fields: [
                {
                "name": "udatestart",
                "alias": "udatestart",
                "type": "date"
                },{
                "name": "udateend",
                "alias": "udateend",
                "type": "date"
                }
            ],
          // set the CSVLayer's timeInfo based on the date field
          timeInfo: {
            startField: "udatestart", // name of the date field
			endField: "udateend",
            interval: {
              // set time interval to one day
              unit: "years",
              value: 1
            }
          },
          popupTemplate: template,
		  renderer: renderer
        });

        const map = new Map({
          basemap: "hybrid",
          layers: [layer]
        });

        var view = new MapView({
          map: map,
          container: "viewDiv",
          zoom: 4,
          center: [134.989574,-26.014209]
        });

        // create a new time slider widget
        // set other properties when the layer view is loaded
        // by default timeSlider.mode is "time-window" - shows
        // data falls within time range
        const timeSlider = new TimeSlider({
          container: "timeSlider",
          playRate: 350,
          stops: {
            interval: {
              value: 1,
              unit: "years"
            }
          }
        });
	//	timeSlider.layout = "wide";
        view.ui.add(timeSlider);

        // wait till the layer view is loaded
        view.whenLayerView(layer).then(function(lv) {
          layerView = lv;

          // start time of the time slider - 5/25/2019
          const start = new Date(1789,12,31);
		  const end = new Date(1990,12,31);
          // set time slider's full extent to
          // 5/25/5019 - until end date of layer's fullTimeExtent
          timeSlider.fullTimeExtent = {
            start: start,
            end: end
          };

          // Values property is set so that timeslider
          // widget show the first day. We are setting
          // the thumbs positions.
          timeSlider.values = [start, end];
        });

        // watch for time slider timeExtent change
        timeSlider.watch("timeExtent", function() {
          // only show ones that happened up until the end of
          // timeSlider's current time extent.
          layer.definitionExpression =
            "udateend <= " + timeSlider.timeExtent.end.getTime();

          // now gray out ones passed by the slider
          layerView.effect = {
            filter: {
              timeExtent: timeSlider.timeExtent,
              geometry: view.extent
            },
            excludedEffect: "grayscale(20%) opacity(23%)"
          };


			
        });

        // add a legend
        const legendExpand = new Expand({
          collapsedIconClass: "esri-icon-collapse",
          expandIconClass: "esri-icon-expand",
          expandTooltip: "Legend",
          view: view,
          content: new Legend({
            view: view
          }),
          expanded: false
        });
		
		
        view.ui.add(legendExpand, "top-left");

        const statsDiv = document.getElementById("statsDiv");
        const infoDiv = document.getElementById("infoDiv");
        const infoDivExpand = new Expand({
          collapsedIconClass: "esri-icon-collapse",
          expandIconClass: "esri-icon-expand",
          expandTooltip: "Expand info",
          view: view,
          content: infoDiv,
          expanded: true
        });
        view.ui.add(infoDivExpand, "top-right");
      });
    </script>



  </head>

  <body>
    <div id="viewDiv"></div>
    <div id="timeSlider"></div>
    <div id="infoDiv" class="esri-widget">
      <h3>Colonial Frontier Massacres, Australia, 1780 to 1930</h3>
	  <p>Please read the <a href="https://c21ch.newcastle.edu.au/colonialmassacres/introduction.php">Introduction</a> and more information about this map.</p>
	<p>NB: Points are imprecise to approx. 250m. Sources rarely provide an exact location and some incidents took place over a broad area.</p>
 	<p>Please be advised that the <i>Colonial Frontier Massacre Map</i> undergoes regular revision. Massacre Site information may modified, removed or added to as part of revision. See <a href="./changes.php">Updates and Changes</a>.</p>
      <div id="statsDiv" class="esri-widget"></div>
    </div>
  </body>
</html>
