<html>
<head>
    <meta charset="utf-8"/>
    <meta
        name="viewport"
        content="initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <title>TLCMap Timeline</title>
    <link
        rel="stylesheet"
        href="https://js.arcgis.com/4.22/esri/themes/light/main.css"
    />
    <script src="https://js.arcgis.com/4.22/"></script>

    <script src="viewsfunc.js"></script>

    <style>
        html,
        body,
        #viewDiv {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
        }

        #timeSlider {
            position: absolute;
            left: 5%;
            right: 5%;
            bottom: 20px;
        }

        #titleDiv {
            padding: 10px;
            font-weight: 36;
            text-align: center;
        }
    </style>
    <script>
        require([
            "esri/Map",
            "esri/views/MapView",
            "esri/layers/GeoJSONLayer",
            "esri/widgets/TimeSlider",
            "esri/widgets/Expand",
            "esri/widgets/Legend"
        ], (Map, MapView, GeoJSONLayer, TimeSlider, Expand, Legend) => {

            var urlParams = new URLSearchParams(window.location.search);
            var urltoload = urlParams.get("load");


            // set the timeInfo on GeoJSONLayer at the time initialization
            const layer = new GeoJSONLayer({
                url: urltoload, //"http://localhost:8090/ghap/publicdatasets/126/json",
                title: "TLCMap Timeline {name}",
                // set the CSVLayer's timeInfo based on the date field
                timeInfo: {
                    //startField: "time", // name of the date field
                    startField: "udatestart", // name of the date field
                    endField: "udateend",
                    interval: {
                        // set time interval to one day
                        unit: "years",
                        value: 1
                    }
                },
                renderer: {
                    type: "simple",
                    field: "{name}",
                    symbol: {
                        type: "simple-marker",
                        color: "orange",
                        outline: {
                            color: "white"
                        }
                    }
                },
                popupTemplate: {
                    title: "{name}",
                    content: getInfo,
                    outFields: ["*"]
                }
            });

            const map = new Map({
                basemap: "hybrid",
                layers: [layer]
            });

            const view = new MapView({
                map: map,
                container: "viewDiv",
                zoom: 4,
                center: [131.0352, -25.3443]
            });

            // time slider widget initialization
            const timeSlider = new TimeSlider({
                container: "timeSlider",
                view: view,
                timeVisible: true, // show the time stamps on the timeslider
                loop: true
            });


            // add the UI for a title
            view.ui.add("titleDiv", "top-right");

            view.whenLayerView(layer).then((lv) => {
                // around up the full time extent to full hour


                // NOW don't ask why but simply setting timeSlider.fullTimeExtent to be layer.timeInfo.fullTimeExtent
                // runs into a bug where it can't handle anything before the epoch and sets anything earlier to 1969, and get's terribly confused.
                // However, this hack works around it, which I figured out because on another map, I'd specifically set the start and end to a Javascript date value.
                // So it seems getting the dates from the layer, converting to JS Dates, then using that works. FFS. What a long day.
                const start = new Date(layer.timeInfo.fullTimeExtent.start);
                const end = new Date(layer.timeInfo.fullTimeExtent.end);

                //  const start = new Date(1850,12,31);
                //  const end = new Date(2030,12,31);

                timeSlider.fullTimeExtent = {
                    start: start,
                    end: end
                };
                timeSlider.values = [start, end];


                /*
                timeSlider.fullTimeExtent =
                  layer.timeInfo.fullTimeExtent;
                timeSlider.stops = {
                  interval: layer.timeInfo.interval
                };
                */

            });


            layer.queryExtent().then(function (results) {
                // go to the extent of the results satisfying the query
                view.goTo(results.extent);
            });


        });
    </script>
</head>

<body>
<div id="viewDiv"></div>
<div id="timeSlider"></div>
<div id="titleDiv" class="esri-widget">
    <div id="titleText">TLCMap Timeline<br>(note: short time spans may not work effectively)</div>
</div>
</body>
</html>
